---
name: Create images for distribution
on:
  push:
    branches-ignore:
      - "gh-readonly-queue/**"
  pull_request:
  merge_group:
jobs:
  build-bootloaders:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          path: arm-trusted-firmware
          repository: mtk-openwrt/arm-trusted-firmware
          ref: mtksoc-20250711
      - uses: actions/checkout@v6
        with:
          path: u-boot
          repository: sjoerdsimons/u-boot
          ref: mtk/openwrt-one
      - run: |
          apt update;
          apt install -y \
              build-essential \
              crossbuild-essential-arm64 \
              arm-trusted-firmware-tools \
              u-boot-tools \
              xz-utils \
              bison \
              flex \
              libssl-dev \
              libgnutls28-dev
      - run: ./scripts/build-atf.sh
      - run: ./scripts/build-u-boot.sh
      - name: Upload bootloader binaries
        uses: actions/upload-artifact@v6
        with:
          name: bootloader
          path: |
            *.bin
            *.raw
            *.fip
  build-kernel:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          path: linux
          repository: sjoerdsimons/linux
          ref: sjoerd/mtk-openwrt-one-integration
      - run: |
          dpkg --add-architecture arm64;
          apt update;
          apt install -y devscripts \
              build-essential \
              crossbuild-essential-arm64 \
              bc \
              bison \
              ccache \
              flex \
              rsync \
              kmod \
              cpio \
              libdw-dev \
              libelf-dev \
              libssl-dev \
              libssl-dev:arm64
      - run: CONFIG=openwrt-one-kernel-config ./scripts/build-kernel.sh
      - name: Upload kernel packages
        uses: actions/upload-artifact@v6
        with:
          name: kernel
          path: "*.deb"
  build-recovery-image:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/go-debos/debos:main
    steps:
      - uses: actions/checkout@v6
      - run: debos --print-recipe recovery/recovery.yaml
      - name: recovery image
        uses: actions/upload-artifact@v6
        with:
          name: recovery
          path: "*.fit"
